html, body{
	height: 100%;
	width: 100%;
}
body {
	padding: 0 2.5% 2.5% 2.5%;
}
.title{
	text-align: center;
}
.Blue{
	height: 100%;
	width: 100%;
	background-color: #042F5F;
	border: 4px solid #070068;
	padding: 2.5%;
}
.white-box{
	height: 100%;
	width: 100%;
	background-color: white;
	border: 4px solid #0071BC;
	padding: 4%;
}
.second-box{
	width: 100%;
    height: 35%;
    background-color: #304A67;
    border: 4px solid #2267B5;
    margin-bottom: 2%;
}
.third-box{
	width: 100%;
    height: 65%;
    border: 4px solid #2267B5;
    background-color: #304A67;
}
.Fluid-Content{
	color: white;
	margin: 130px 0px 40px 500px;
	font-size: 40px;
}
.nav-bar-back{
	background-color: #75B3F9;
    border: 15px solid white;
    width: 148px;
    height: 100px;
    margin: 27px 20px 20px 90px;
    display: inline-block;
}
.nav-title{
	font-size: 14px;
	color: white;
	margin: 23px;
}
